{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<p>hey there</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2><a>Update your profile</a></h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{user_form|crispy}}
                    {{profile_form|crispy}}
                    <input type="submit" class="btn btn-sm btn-light" value="save">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
