{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
           <div class="card">
               <h2><strong>{{project.title}}</strong></h2>
               <p><small>{{project.details}}</small></p>
           </div>
           <form action="" method="POST" enctype="multipart/form-data">
            {%csrf_token%}

            {% crispy_form form%}
            <input type="sumit" class="btn btn-sm" value="POST">

           </form>
                 </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}